/*
multi
line
comment
 */
h2.fancy-header {
    color: darkblue;
    text-decoration: underline;
}

    body {
        background-image:
        url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&h=350")
        width;
        background-color: papayawhip;
    }
body {
    font-family: AppleMyungjo;
    background-image: url("../img/mountain.png");
    background-size: contain;
    width: 95em;
    height: 99%;
    border: 2px solid;
}