
.jumbotron {
    background-repeat: no-repeat;
    background-image: url("../img/pizza.png");
    background-size: 100%;
    padding: 4.5em;
    width:100%;
    margin-top: 20px;
}
.navbar {
    padding: .4em;
}


h1 {
    background-color: rgba(233, 233, 233, 0.6);
    padding-left: 10em;
    position: center;
    width: 100%;
}
/*body {*/
    /*background-color: #848487;*/
/*}*/