body, html {
    height: 100%;
    margin: 0;
}

.container {
    background-image: url("../img/arcade.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*title styling*/

.ko {
    margin-left: 20px;
    top: 20%;
    left: 33%;
    position: absolute;
    text-align: center;
    font-family: "Cuckoo";
    color: #cdcdb9;
    text-shadow: black 0.3em 0.3em 0.3em;
    -webkit-text-stroke: 1.25px black;
    font-size: 69px;
}

.nami {
    margin-left: 20px;
    top: 20%;
    left: 39%;
    position: absolute;
    text-align: center;
    font-family: "Cuckoo";
    color: #cdcdb9;
    text-shadow: black 0.3em 0.3em 0.3em;
    -webkit-text-stroke: 1.25px black;
    font-size: 69px;
}

.code {
    margin-left: 20px;
    top: 20%;
    left: 50%;
    position: absolute;
    text-align: center;
    font-family: "Cuckoo";
    color: #cdcdb9;
    text-shadow: black 0.3em 0.3em 0.3em;
    -webkit-text-stroke: 1.25px black;
    font-size: 69px;
}

.sub {
    margin-left: 20px;
    top: 33%;
    left: 37%;
    position: absolute;
    text-align: center;
    font-family: "Cuckoo";
    color: #cdcdb9;
    text-shadow: black 0.3em 0.3em 0.3em;
    /*-webkit-text-stroke: 1.25px black;*/
    font-size: 20px;
}

/*konami styling*/

#Gtakei {
    display: none;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

#sound {
    display:none;
}