body, html {
    height: 100%;
    margin: 0;
}

.container {
    background-image: url("../img/arcade.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top {
    margin-left: 20px;
    top: 20%;
    left: 35%;
    position: absolute;
    text-align: center;
    font-family: "Cuckoo";
    color: #cdcdb9;
    text-shadow: black 0.3em 0.3em 0.3em;
    -webkit-text-stroke: 1.25px black;
    font-size: 60px;
}

#Gtakei {
    display: none;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

#sound {
    display:none;
}